footer {
  height: 20vh;
  width: 99vw;
  position: relative;
}

.containerfooter {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: rgb(44, 149, 44);
  height: 80vh;
  width: 99vw;
  justify-content: space-around;
  border: solid black;
}
.ballfooter {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;

  animation: 4s pass;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-left: 65vw;
  z-index: 999;
  display: inline-block;
}

@keyframes pass {
  100% {
    margin-left: 5vw;
    transform: rotate(-3000deg);
  }
}

.ball2footer {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  animation: 4s pass2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-left: 40vw;
  z-index: 999;
  display: inline-block;
}
@keyframes pass2 {
  100% {
    margin-left: 90vw;
    transform: rotate(4000deg);
  }
}

.nikefooter {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.adidasfooter {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.arealeftfooter {
  display: inline-block;
  border: solid white;
  height: 40vh;
  width: 12vw;
  position: absolute;
  top: 18vh;
  z-index: 2;
}
.arearightfooter {
  display: inline-block;
  border: solid white;
  height: 40vh;
  width: 12vw;
  position: absolute;
  top: 18vh;
  right: 0vw;
  z-index: 2;

  z-index: 2;
}
.middlelinefooter {
  position: absolute;
  display: inline-block;
  left: 50%;
  height: 100%;
  width: 0.5vh;
  background-color: white;
}
.middlecirclefooter {
  position: absolute;
  display: inline-block;
  top: 23vh;
  left: 41%;
  border: solid white;
  border-radius: 50%;
  height: 36%;
  width: 18%;
}
.contact {
    position: absolute;
    bottom: 2vh;
    left: 10vw;
    }
    .info {
        position: absolute;
        bottom: 2vh;
        left: 1vw;
        
    }
    .rights {
        position: absolute;
        bottom: 3.5vh;
        left: 18vw;
    }
